body{
	overflow-x: hidden;
}
.myNavbar{
	background-color: #E33434; border-radius: 0;
}
.myNavbar a{
	color: #ffffff; font: 18px '宋体';
}
#myNavbar a:hover{text-decoration: underline; background-color: #E33434;
}
#myNavbar a:visited{background-color: #E33434;
}
.myBtn{
	color:#E33434; background-color: #ffffff; 
}
.myCarousel{
	margin-top: -10px;padding: 0;
}
.row .reA{
	display: block;height: 22px;margin: 5px 0 0 0; border-top: 5px solid rgba(0,0,0,0);
	background-color:#ffffff ; color:#E33434; font:bolder 20px '宋体';
	 line-height: 22px; text-align: center; 
}
.myComm{
	margin:10px auto 0 auto; 
}
.myComm div{
	border: #E33434 1px solid; margin:0 10px; padding: 0;
}
.myComm div img{
	margin: 10px 
}
.row .reA:hover{
	border-top:5px solid #E33434;
}
.footer p{
	margin-top:30px;line-height: 30px; height: 30px;text-align: center; font: 15px '宋体';
	color: #EFB5B5;
}
