body{
	position: relative; margin: 0;padding: 0; width: 100%;
	background: url('../img/logInBackGround.jpg') no-repeat;
	background-size: cover;
}
.logInBlock{
	width: 450px; margin: 0 auto;
	margin-top:10%; border: 1px solid #D0CDCD; border-radius: 5px;
	-moz-box-shadow:1px 1px 3px #D0CDCD; 
	-webkit-box-shadow:1px 1px 3px #D0CDCD;
	box-shadow:1px 1px 3px #D0CDCD; background-color: #ffffff;
}
.logInBlock form{
	margin: 30px auto ;width: 340px;
}
.logInBlock form h2{
	text-align: center; font: 20px '宋体';
}
.logInBlock form label{
	font: 15px '宋体';color: #555555;
}
form .myBtn{
	background-color: #E33434; color: #ffffff; font: bold 15px '宋体';
}
form .myBtn:hover{
	color: #ffffff;text-decoration: underline;
}
form a,form a:hover{
	float: right;color: #E33434;
}