*{
	margin: 0;padding: 0;
}
body{
	overflow-x: hidden; 
}
.navbar{
	width: 100%; height: 50px; line-height: 50px; background-color:#D94949;
	border-radius: 0;
}
.navList{
	width: 400px; margin: 0 auto;
}
.navList li{
	float: left; list-style: none; margin-right: 30px;
}
.navList li a:hover{
	text-decoration: underline;
}
.navList li a,.rightNav li a{
	text-decoration: none; color: #ffffff; font: 15px '宋体'
}
.rightNav li{
	float: right; margin-right: 20px; list-style:none;
}
.rightNav{
	margin-right: 50px;
}
.outerRow{
	margin-top: 30px;
}
.col1{
	margin-top:60px; 
}
.col1 .row div{
	height: 30px; line-height:30px; 
}
.col1 a{
	font: bolder 17px '宋体'; color: #767474;
}
.header{
	 height: 30px; color: #C33030; margin-top: 20px ;margin-bottom: 10px; 
}
.delete .row a,.modify .row a{
	color: #C33030;
}
.show{
	margin-bottom: 5px;
}
.header div,.show div{
	text-align: center;
}
.issueHouseBlock{
	width: 450px; margin-left: 50px;
	margin-top:0; border: 1px solid #D0CDCD; border-radius: 5px;
	-moz-box-shadow:1px 1px 3px #D0CDCD; 
	-webkit-box-shadow:1px 1px 3px #D0CDCD;
	box-shadow:1px 1px 3px #D0CDCD; background-color: #ffffff;
}
.issueHouseBlock .formOne{
	margin: 10px auto ;width: 340px;
}
.issueHouseBlock .formOne h2{
	text-align: center; font: 20px '宋体';
}
.issueHouseBlock .formOne label{
	font: 15px '宋体';color: #555555;
}
.formOne .myBtn{
	background-color: #E33434; color: #ffffff; font: bold 15px '宋体';
}
.formOne .myBtn:hover{
	color: #ffffff;text-decoration: underline;
}
/*form a,form a:hover{
	
}*/
.formOne .myBtnCancel{
	float: right;color: #E33434; background-color: rgba(0,0,0,0);
}
.formOne label{
	font: 15px '宋体';color: #555555;
}
.seekForm button{
	background-color: #D74444; color: #fff;
}
.seekForm button:hover{
	background-color: #D74444; color: #fff; text-decoration: underline;
}
