*{
	margin: 0;padding: 0;
}
body{
	overflow-x: hidden; 
}
.navbar{
	width: 100%; height: 50px; line-height: 50px; background-color:#D94949;
	border-radius: 0;
}
.navList{
	width: 400px; margin: 0 auto;
}
.navList li{
	float: left; list-style: none; margin-right: 30px;
}
.navList li a,.rightNav li a{
	text-decoration: none; color: #ffffff; font: 15px '宋体'
}
.rightNav li{
	float: right; margin-right: 20px; list-style:none;
}
.rightNav{
	margin-right: 50px;
}
.note{
	margin-left: 15%; 
}
.note h1{
	font: bolder 20px '宋体'; color: #4E4C4C;
}
.note a{
	color:#E96E6E ;font: 13px '宋体'; text-decoration: underline;
}
.note p{
	color: #7D7D7D ;font: 15px '宋体'; text-indent: 2em;
}