body{
	overflow-x: hidden;
}
.myNavbar{
	background-color: #E33434; border-radius: 0;
}
.myNavbar a{
	color: #ffffff; font: 18px '宋体';
}
#myNavbar a:hover{text-decoration: underline; background-color: #E33434;
}
#myNavbar a:visited{background-color: #E33434;
}